/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

/* Developed by Higama-ya based on Sakura.css */

:root {
  --sakura-text-primary-color: #c8c8c8;
  --sakura-text-secondary-color: #ffffff;
  --sakura-text-secondary-sub-color: #f1f1f1;
  --sakura-text-focus-color: #f8d1d1;
  --sakura-background-color: #222222;
  --sakura-background-sub-color: #4a4a4a;
}
