<header translate="no">
  {{ with .Site.Params.Theme.logo }}
    {{ $logo := resources.Get . }}
    <img
      class="header__logo"
      src="{{ $logo.RelPermalink }}"
      width="{{ $logo.Width }}"
      height="{{ $logo.Height }}"
      alt="logo"
    />
  {{ end }}


  <span class="header__title">{{ .Site.Title }}</span>

  {{ if not .Site.Params.Theme.Header.hideDescription }}
    {{ with .Site.Params.description }}
      <span class="header__description">{{ . }}</span>
    {{ end }}
  {{ end }}
</header>
